/* Acá van tus reglas de estilo */
body{
    text-align: center;
    color: black;
    font-family: 'Cabin';
    padding: 20px;
    margin: 0;
}

.hide{
    display: none;
}
header{
    
    font-family: 'Luckiest Guy', cursive;
    }
p {
        font-family: 'Passion One', cursive;
    }
.form-area{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        height:500px;
        box-sizing: border-box;
        background: rgba(0,0,0,0.5);
        padding: 40px;
    
    }
    